@page
@model RazorPages.Pages.AuthorInstitution2023DB.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondingAuthor[0].AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondingAuthor[0].AuthorBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondingAuthor[0].Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondingAuthor[0].Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondingAuthor[0].Institution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CorrespondingAuthor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution.Area)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuthorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AuthorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
